{% extends 'base.html.twig' %}

{% block title %}Le Bon Coin{% endblock %}

{% block body %}
<div class="container-fluid">
    <turbo-frame id="view-annonce">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" style="margin-top: 25px;">
                <div class="card">
                    <h1 style="text-align: center">{{ annonce.title }}</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img src="{{ asset('build/images/sale.png') }}" class="card-img-top" alt="SALE IMAGE" style="width: 100%">
                            </div>
                            <div class="col-8">
                                <p>{{ annonce.description}}</p>
                                </br>
                                <h4>Prix : {{ annonce.price }} €</h4>
                                </br>
                                <p>Publié par {{ annonce.AnnonceByUser.getUsername() }}</p>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-8">
                                <p>Publier le {{ annonce.createdAt|date('d/m/Y H:m')}} 
                                    {% if annonce.updatedAt is defined and annonce.updatedAt is not empty %}
                                    - Dernière modification le {{ annonce.updatedAt|date('d/m/Y H:m') }}
                                    {% endif %}</p>
                            </div>
                            <div class="col-4">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and annonce.AnnonceByUser.getId() == app.user.id %}
                                <a href="{{ path('edit_annonce', { id: annonce.id }) }}" class="btn btn-success">Modifier</a>
                                <a href="{{ path('delete_annonce', { id: annonce.id }) }}"  class="btn btn-danger">Supprimer</a>
                            {% endif %}
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </turbo-frame>
</div>
{% endblock %}